<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/admin" class="navbar-brand">Medipod</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/admin/promotioncreate" class="navItem">Create Promotion</a></li>
        <li><a href="/admin/createevent"class="navItem">Create Event</a></li>
        <li><a href="/admin/createclinic" class="navItem">Create Clinic</a></li>
        <li><a href="/admin/clinicredeem" class="navItem">Clinic Redemption</a></li>
        <li><a href="/attendee" class="navItem">Advisor Portal</a></li>
        <li><a href="/logout" class="navItem navbar-right">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
