<nav>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <a href="/admin" class="navbar-brand">Medipod</a>
    </div>
    <a href="/admin/promotioncreate" class="navItem">Create Promotion</a>
    <a href="/admin/createevent"class="navItem">Create Event</a>
    <a href="/admin/createclinic" class="navItem">Create Clinic</a>
    <a href="/admin/clinicredeem" class="navItem">Clinic Redemption</a>
    <a href="/attendee" class="navItem">Advisor Portal</a>
    <a href="/logout" class="navItem navbar-right">Log Out</a>
  </div>
</nav>
