<nav>
  <div class="navbar navbar-default navbar-static-top">
      <div class="container">
          <a href="/admin" class="navbar-brand navbar-left">Home</a>
          <a href="/admin/createevent" class="navItem">Create Event</a>
          <a href="/admin/promotioncreate" class="navItem">Create Promotion</a>
          <a href="#" class="navItem">Create Clinic</a>
          <a href="/logout" class="navItem navbar-right">Log Out</a>
      </div>
  </div>
</nav>
