<nav>
  <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a href="/attendee" class="navbar-brand navbar-left">Home</a>
        <a href="/logout" class="navItem navbar-right">Log Out</a>
      </div>
  </div>
</nav>
