<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/clinic" class="navbar-brand">Medipod</a>
    </div>
    <div>
      <a href="/logout"><button class="btn btn-danger navbar-btn navbar-right" style="margin-right:1px;">Log Out</button></a>
    </div>
  </div>
</nav>
