<h1>Verify Code Page for <%= clinic.name %></h1>

<form class="/clinic" method="post">

  <label for="dateused">Date of Use</label>
  <input type="date" name="dateused">

  <label for="userpromo">Promo Code</label>
  <input type="string" name="userpromo">

  <button type="submit">Verify</button>
</form>
