<h1>Create Clinic Account</h1>

<form action="/admin/createclinic" method="post">
  <label for="clinicname">Name of Clinic
    <input type="text" name="clinicname">
  </label>
  <label for="">Email
    <input type="text" name="email">
  </label>
  <label for="signinpassword">Password
    <input type="password" name="password">
  </label>
  <label for="confirmPass">Confirm Password
    <input type="password" name="confirmPassword">
  </label>
  <button type="submit">Sign Up</button>
</form>
