<div class="container-fluid">
  <h1>Create Clinics</h1>
  <p>Set Up clinic accounts here</p>
  <form action="/admin/createclinic" method="post">
    <div class="form-group">
      <label for="clinicname">Clinic name
        <input type="text" name="clinicname" placeholder="Silver Cross" class="form-control" id="clinicname">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicemail">Email
        <input type="text" name="email" placeholder="abc@slivercross.com" class="form-control" id="clinicemail">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicpass">Password
        <input type="password" name="password" id="clinicpass" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="confirmPassclinic">Confirm Password
        <input type="password" name="confirmPassword" id="confirmPassclinic" class="form-control">
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
