<div class="container-fluid form">
  <h1>Create Clinics</h1>
  <p>Set Up clinic accounts here</p>
<<<<<<< HEAD
  <div class="container">
  <form action="/admin/createclinic" method="post">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicname">Clinic name
=======
  <form action="/admin/createclinic" method="post" class="form-inline">
    <div class="form-group">
      <label for="clinicname">Clinic name:
        <input type="text" name="clinicname" placeholder="ABC Clinic" class="form-control" id="clinicname" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="text" name="clinicname" placeholder="ABC Clinic" class="form-control" id="clinicname">
      </div>
    </div>
<<<<<<< HEAD
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicemail">Email
=======
    <div class="form-group">
      <label for="clinicemail">Email:
        <input type="text" name="email" placeholder="abc@clinic.com" class="form-control" id="clinicemail" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="text" name="email" placeholder="abc@clinic.com" class="form-control" id="clinicemail">
      </div>
    </div>
<<<<<<< HEAD
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicnum">Clinic Phone Number
=======
    <div class="form-group">
      <label for="clinicnum">Clinic Phone Number:
        <input type="text" name="number" class="form-control" id="clinicnum" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="text" name="number" class="form-control" id="clinicnum">
      </div>
    </div>
<<<<<<< HEAD
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicadd1">Address 1
=======
    <div class="form-group">
      <label for="clinicadd1">Address 1:
        <input type="text" name="clinicadd1" placeholder="7 Claymore Hill" class="form-control" id="clinicadd1" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="text" name="clinicadd1" placeholder="7 Claymore Hill" class="form-control" id="clinicadd1">
      </div>
    </div>
<<<<<<< HEAD
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicadd2">Address 2
=======
    <div class="form-group">
      <label for="clinicadd2">Address 2:
        <input type="text" name="clinicadd2" placeholder="#01-10" class="form-control" id="clinicadd2" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="text" name="clinicadd2" placeholder="#01-10" class="form-control" id="clinicadd2">
      </div>
    </div>
<<<<<<< HEAD
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicpass">Password
=======
    <div class="form-group">
      <label for="clinicpass">Password:
        <input type="password" name="password" id="clinicpass" class="form-control" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="password" name="password" id="clinicpass" class="form-control">
      </div>
    </div>
<<<<<<< HEAD
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="confirmPassclinic">Confirm Password
=======
    <div class="form-group">
      <label for="confirmPassclinic">Confirm Password:
        <input type="password" name="confirmPassword" id="confirmPassclinic" class="form-control" required>
>>>>>>> 01ac42c97821fcd719c8f024a2985ab2958fbe18
      </label>
        <div class="col-sm-9">
        <input type="password" name="confirmPassword" id="confirmPassclinic" class="form-control">
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  </div>
</div>
