<div class="container-fluid form">
  <h1>Create Clinics</h1>
  <p>Set Up clinic accounts here</p>
  <div class="container">
  <form action="/admin/createclinic" method="post">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicname">Clinic name <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="text" name="clinicname" placeholder="ABC Clinic" class="form-control" id="clinicname" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicemail">Email <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="text" name="email" placeholder="abc@clinic.com" class="form-control" id="clinicemail" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicnum">Clinic Phone Number <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="text" name="number" class="form-control" id="clinicnum" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicadd1">Address 1 <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="text" name="clinicadd1" placeholder="7 Claymore Hill" class="form-control" id="clinicadd1" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicadd2">Address 2 <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="text" name="clinicadd2" placeholder="#01-10" class="form-control" id="clinicadd2" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="clinicpass">Password <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="password" name="password" id="clinicpass" class="form-control" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-right" for="confirmPassclinic">Confirm Password <span class="mandatory">*</span> :
      </label>
        <div class="col-sm-9">
        <input type="password" name="confirmPassword" id="confirmPassclinic" class="form-control" required>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
  </div>
</div>
