<div class="container-fluid form">
  <h1>Create Clinics</h1>
  <p>Set Up clinic accounts here</p>
  <form action="/admin/createclinic" method="post" class="form-inline">
    <div class="form-group">
      <label for="clinicname">Clinic name:
        <input type="text" name="clinicname" placeholder="ABC Clinic" class="form-control" id="clinicname">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicemail">Email:
        <input type="text" name="email" placeholder="abc@clinic.com" class="form-control" id="clinicemail">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicnum">Clinic Phone Number:
        <input type="text" name="number" class="form-control" id="clinicnum">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicadd1">Address 1:
        <input type="text" name="clinicadd1" placeholder="7 Claymore Hill" class="form-control" id="clinicadd1">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicadd2">Address 2:
        <input type="text" name="clinicadd2" placeholder="#01-10" class="form-control" id="clinicadd2">
      </label>
    </div>
    <div class="form-group">
      <label for="clinicpass">Password:
        <input type="password" name="password" id="clinicpass" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="confirmPassclinic">Confirm Password:
        <input type="password" name="confirmPassword" id="confirmPassclinic" class="form-control">
      </label>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
</div>
