<h1>Create Event Page</h1>

<p>Creat an event (either Seminar or road show)</p>

<form class="/eventcreate" method="post">

  <label for="eventname">Event Name
    <input type="text" name="eventname">
  </label>

  <label for="datefrom">Event Date From
    <input type="date" name="datefrom">
  </label>

  <label for="datetill">Event Date Till
    <input type="date" name="datetill">
  </label>

  <label for="location">Location
    <input type="text" name="location">
  </label>

  <button type="submit">Create</button>
</form>
