<div class="container-fluid form">
  <h1>Create Event Page</h1>
  <h4>Instructions for create event form</h4>
  <p>1) Fill in the details of your event (Road Show or Seminar)</p>
  <p>2) Choose which promotions that would be included in this event</p>
  <form class="/eventcreate" method="post">
    <div class="form-group">
      <label for="eventname">Event Name
        <input required type="text" name="eventname" class='form-control' id="eventname">
      </label>
    </div>
    <div class="form-group">
      <label for="subeventname">Topic Name
        <input type="text" name="subeventname" class='form-control' id="subeventname" placeholder="Diabetes">
      </label>
    </div>
    <div class="form-group">
      <label for="datefrom">Event Start Date
        <input type="date" name="datefrom" class="form-control" id="datefrom">
      </label>
    </div>
    <div class="form-group">
      <label for="datetill">Event End Date
        <input type="date" name="datetill" class="form-control" id="datetill">
      </label>
    </div>
    <div class="form-group">
      <label for="location">Location of Event
        <input type="text" name="location" class="form-control" id="location" placeholder="Orchard">
      </label>
    </div>
    <h4>Promotions</h4>
    <div class="form-group">
      <% promos.forEach(function(event,i){ %>
        <label for=<%= event.name %> class='checkboxes'><%= event.name%>
          <input required type="checkbox" name="promocheck" value="<%= event._id %>" id=<%= event.name %>>
        </label>
      <% }) %>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
