<div class="container-fluid form">
  <h1>Forgot Password</h1>
  <hr>
  <form action="/forgot" method="post" data-parsley-validate="" >
    <div class="form-group">
      <label for="signupemail">Email:
        <input type="text" name="email" placeholder="abc@medipod.com" class="form-control" id="signupemail" data-parsley-required="true" data-parsley-type="email">
      </label>
      <br>
    <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>
  <a href="/">Back to Landing</a>
</div>
