<div class="container-fluid form">
  <h1>Medipod Log In</h1>
  <p>Portal for Admins, Advisors and Clinics</p>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="loginemail">Email:
        <input type="text" name="email" placeholder="abc@medipod.com" class="form-control" id="loginemail">
      </label>
    </div>
    <div class="form-group">
      <label for="loginpassword">Password:
        <input type="password" name="password" class="form-control" id="loginpassword">
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
    <br>
    <a href="/forgot">Forgot Password?</a>
  </form>
  <br>
  <a href="/signup">Sign Up Here</a>
</div>
