<div class="signin">
  <h1>Medipod Log In</h1>

  <p>Log in portal for clinics, admin and ambassador</p>

  <form action="/landing" method="post">
    <label for="email">Email
      <input type="text" name="email" placeholder="ian@medipod.com">
    </label>
    <label for="signinpassword">Password
      <input type="password" name="signinpassword">
    </label>
    <button type="submit">Log In</button>
  </form>
</div>
<a href="/signup">Sign Up Here</a>
