<div class="container-fluid">
  <h1>Medipod Log In</h1>
  <p>Portal for Admins, Advisors and Clinics</p>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="email">Email
        <input type="text" name="email" placeholder="abc@medipod.com" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label for="signinpassword">Password
        <input type="password" name="password" class="form-control">
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  <br>
  <a href="/signup">Sign Up Here</a>
</div>
