<h1>Create Promotion</h1>

<p>Create a promotion that will generate code for attendees (i.e Free Full Body Checkup)</p>

<form class="/eventcreatecode" method="post">

  <label for="namepromo">Name of Promotion
    <input type="text" name="namepromo">
  </label>

  <label for="codeprefix">Promo Code Prefix
    <input type="text" name="codeprefix">
  </label>

  <label for="agencyprefix">Agency Prefix
    <input type="text" name="agencyprefix">
  </label>

  <label for="validdate">Validity Period
    <input type="number" name="validdate" placeholder="Number of days">
  </label>

  <button type="submit">Create</button>
</form>
