<h1>Sign Up Account</h1>

<p>Sign Up portal for clinics, admin and ambassador</p>

<div class="signup">
  <h1>Medipod Sign Up</h1>
  <p>Sign up for admin account or sales account</p>
  <form action="/signup" method="post">
    <label for="">Email
      <input type="text" name="email" placeholder="ian@medipod.com">
    </label>
    <label for="signinpassword">Password
      <input type="password" name="password">
    </label>
    <label for="confirmPass">Confirm Password
      <input type="password" name="confirmPassword">
    </label>
    <%# <label for="typeUser">Type of User
      <input type="text" name="typeUser">
    </label>%>
    <button type="submit">Sign Up</button>
  </form>
</div>
<a href="/">Log In Here</a>
