*{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, th{
  font-family: 'Roboto Slab', serif;
}

th{
  font-weight: bolder;
  font-size: 1.3em;
}

.form{
  text-align: center;
}

.checkboxes{
  margin-right: 10px;
}

.btn-advisor{
  margin-bottom: 1vh;
  width: 7em !important;
}

.row{
  margin-bottom: 1em;
  margin-right: 2vw;
}

.mandatory{
  color: red;
}

.linkexpired{
  margin-top: 40vh;
  text-align: center;
}

.adminactionbtn{
  margin-bottom: 15px;
}

.scrollable{
  height: 400px;
  overflow: scroll;
}

.scrollablepast{
  height: 800px;
  overflow: scroll;
  display: none;
}

#past:hover + .scrollablepast{
  display: block;
}
