*{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, th{
  font-family: 'Roboto Slab', serif;
}

th{
  font-weight: bolder;
  font-size: 1.3em;
}

.container-fluid{
  text-align: center;
}

.checkboxes{
  margin-right: 10px;
}

.btn-advisor{
  margin-bottom: 1vh;
  width: 7em !important;
}

.row{
  margin-bottom: 1em;
  margin-right: 2vw;
}
